{% extends "base.html" %}
{% load static %}
{% block content %}


	<h1 class="titre">Bienvenue sur l'application AGEIL </h1>
    <img id="img_accueil" src="../../../static/logo.png" alt="Logo Application">
	<h2 id="sous-titre-accueil">Application réalisé par : Frédéric AUTISSIER, Sandrine LATOUR, Baptiste MONNIER, Jean-Baptiste POMMERET, Chang LIU</h2>

    
{% endblock %}
