{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Ajout d'une UE pour le semestre {{semestre.intitule}}</h1>
	<form method='POST' action='/gestionEnseignement/ajouterUE'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="hidden" name="idModele" value="{{idModele}}">
		<input type="hidden" name="idSemestre" value="{{idSemestre}}">
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}