{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="/static/onglets.js" type="text/javascript" > </script>
<br>

		<!-- *********************** Onglet Cursus ! ********************************** -->
		<!-- on vérifie l'url -->
		{% if request.get_full_path == "/gestionEnseignement/cursus" %}

			<div id="gestionModelesCursus">

			<div class="item">

			<!-- Traitement pour Cursus (bouton : ajouter/supprimer/modifier) -->
			{% if messageAAfficher %}
				<p>{{messageAAfficher}}</p>
			{% endif %}

			<h2>Ajouter un modèle de cursus</h2>

			<form action="/gestionEnseignement/cursus" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Ajouter">
				<input type="reset" value="Annuler">
                <input type=button value="Page précédente" onClick="javascript:history.go(-1);">

			</form>
            <p>Le type de cursus souhaité n'est pas disponible : <a href="#" onclick="return popitup('/home/travaux')" ><input type=button value="Ajouter un type de cursus"></a>
	       <br><i> Penser à recharger la page une fois le type de cursus ajouté</i>

			<h2>Liste des modèles de cursus</h2>

			<ul>
			{% for cursus in tabCursus %}
				<li>
					{{ cursus.intitule }}
					 - <a href='paramModifierCursus/{{cursus.id}}'><input type="button" value="modifier" /></a>
					 - <a href='supprimerCursus/{{cursus.id}}'><input type="button" value="supprimer"
					{% if cursus in cursusNonSupprimable %}
						 disabled
						 alt="Ce cursus n'est plus supprimable car il est lié à des étudiants"
						 title="Ce cursus n'est plus supprimable car il est lié à des étudiants"
					{% endif %}
					/></a><br>

					<ul>
						<li>Type : {{ cursus.typeCursus }}</li>
						<li>Infos supplémentaires : {{ cursus.informationsSupplementaires }}</li>
					</ul><br>

				</li>
			{% empty %}
				<li>Aucun cursus !</li>
			{% endfor %}
			</ul>
		</div><!-- fin item -->


	</div><!-- fin gestionModeles -->


		{% else %} <!-- fin si url = /gestionEnseignement/cursus sinon ... -->
		<!-- *********************** Onglet BAC ! ********************************** -->
		<!-- on vérifie l'url -->
			{% if request.get_full_path == "/gestionEnseignement/BAC" %}<!-- si url = /gestionEnseignement/BAC -->


			<div id="gestionModelesBac">


			<!-- Traitement pour BAC (bouton : ajouter/supprimer/modifier) -->
				<div class="item">
			{% if messageAAfficher %}
				<p>{{messageAAfficher}}</p>
			{% endif %}

			<h2>Ajouter un modèle de BAC</h2>

			<form action="/gestionEnseignement/BAC" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Ajouter">
				<input type="reset" value="Annuler">
                <input type=button value="Page précédente" onClick="javascript:history.go(-1);">

			</form>

			<h2>Liste des modèles de BAC</h2>

			<ul>
			{% for modele in modelesBAC %}
				<li>
					{{modele.intitule}}
					 - <a href='paramModifierBAC/{{modele.id}}'><input type="button" value="modifier"/></a>
					 - <a href='supprimerBAC/{{modele.id}}'><input type="button" value="supprimer"
					{% if modele in listeBACNonSupprimable %}
						 disabled
						 alt="Ce modèle de BAC n'est plus supprimable car il est lié à des étudiants"
						 title="Ce modèle de BAC n'est plus supprimable car il est lié à des étudiants"
					{% endif %}
					/></a><br>

					<ul>
						<li>Type : {{ modele.typeBAC }}</li>
						<li>Infos supplémentaires : {{ modele.informationsSupplementaires }}</li>
					</ul><br>
			{% empty %}
				<li>Aucun BAC !</li>
			{% endfor %}
			</ul>
		</div>


	</div><!-- fin gestionModeles -->

			{% else %}<!-- fin si url = /gestionEnseignement/BAC sinon ... -->

		<!-- *********************** Onglet Formation ! ********************************** -->

				<div id="gestionModeles">

		<div class="item">

				{% if messageAAfficher %}
					<p>{{messageAAfficher}}</p>
				{% endif %}

				<h2>Ajouter un modèle de formation</h2>

				<form action="creerTreeViewModeleFormation" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Ajouter">
					<input type="reset" value="Annuler">
                    <input type=button value="Page précédente" onClick="javascript:history.go(-1);">
				<form>

				<h2>Liste des modèles de formation</h2>

				<ul>
				{% for modele in modelesCursusDUT %}
					<li>
						{{modele.nom}}
						 - <a href='modifierTreeViewModeleFormation/{{modele.id}}'><input type="button" value="modifier" /></a>
						 - <a href='supprimerModeleFormation/{{modele.id}}'><input type="button" value="supprimer"
						{% if modele in modelesNonSupprimable %}
							 disabled
							 alt="Ce modèle n'est plus supprimable car il est lié à des étudiants"
							 title="Ce modèle n'est plus supprimable car il est lié à des étudiants"
						{% endif %}
						/></a>
						 - <a href='copierModeleFormation/{{modele.id}}'><input type="button" value="créer une copie" /></a><br>

						<ul>
							<li>Description : {{ modele.description }}</li>
						</ul><br>
				{% empty %}
					<li>Aucun modèle de formation !</li>
				{% endfor %}
				</ul>
		</div>

	</div><!-- fin gestionModeles -->
		{% endif %}<!-- fin si url = /gestionEnseignement/formation ou  /gestionEnseignement/  -->
		{% endif %}<!-- fin si <!-- si url = /gestionEnseignement/BAC -->

{% endblock %}
