{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Vous devez spécifier le modèle de formation à utiliser pour les étudiants du {{semestrePossible}} {{anneeUniversitaire}}</h1>
	
	<form method='POST' action='#'>
		{% csrf_token %}
		
		{% for info in infosPOST %}
			<input type="hidden" name="{{info.key}}" value="{{info.value}}">
		{% endfor %}
		
		<p><label for="id_modeleFormation">Modèle de formation :</label>
		{% if not modelesFormation %}
			 Aucun modèle de formation existant ! <a href="/gestionEnseignement/formation"><input type="button" value="Créer un modèle de formation"></a>
		{% else %}
		<select id="id_modeleFormation" name="modeleFormation" required>
			{% for modele in modelesFormation %}
				<option value="{{modele.id}}">{{modele.nom}}</option>
			{% endfor %}
		</select>
		{% endif %}</p>
		
		<input type="submit" value="Valider"
		{% if not modelesFormation %}
			disabled
			alt="Vous devez d'abord créer un modèle de formation"
			title="Vous devez d'abord créer un modèle de formation"
		{% endif %}
		 >
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}