{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification du modèle de formation utilisé pour le {{semestreAnnualise}}</h1>
	<form method='POST' action='#'>
		{% csrf_token %}
		<label>Modèle de formation : </label><select name="idModeleFormation" required>
			{% for modele in modelesFormation %}
				<option value="{{modele.id}}" {% if modele == modeleDefaut %}selected{% endif %}>{{modele}}</option>
			{% endfor %}
		</select><br><br>
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}