{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Importer des Etudiants</h2>
	
	<form action="importerEtudiant" method="POST">
		{% csrf_token %}
		<label>Semestre : </label>
		<select name="idSemestrePossible" required>
		{% for semestre in semestres %}
			<option value='{{semestre.id}}'>{{semestre.semestre}}</option>
		{% endfor %}
		</select><br>
		<br>
		<label>Année universitaire : </label><select name="anneeUniversitaire" required>
		{% for annee in anneesUniversitaires %}
			<option value='{{annee}}' {% if annee == anneeParDefaut %}selected{% endif %}>{{annee}}</option>
		{% endfor %}
		</select><br>
		<br>
		<label>Fichier CSV : </label><input type="file" accept=".csv" name="fichier" required><br><br>
		<input type="submit" value="Importer">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
		<p><strong>ATTENTION ! Lorsque vous cliquerez sur "importer" il est possible que le chargement de la page puisse prendre quelques minutes. Ne paniquez pas, et attendez patiemment la fin du chargement. Evitez de fermer votre navigateur durant le chargement ou de cliquer plusieurs fois sur "importer".</strong></p>
	</form>
{% endblock %}
